body {
  padding-top: 50px;
}

#error-message {
  color: red;
}

#word-cloud {
  width: 100%;
  max-width: 600px;  /* Set a maximum width for the word cloud container */
  height: auto;
  max-height: 600px; /* Set a maximum height */
  margin: 20px auto;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure the image doesn't overflow the container */
}

#word-cloud img {
  max-width: 100%; /* Ensure the image scales properly */
  max-height: 100%; /* Prevent it from overflowing the container */
  height: auto;
  width: auto;
}